span {
    color: red;
}

h2, label {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Inter";
    font-style: normal;
}

label {
    display: block;
    float: left;
    width: 75%;
}

input {
    background: none;
    border: #e5e5ec;
    box-shadow: inset 0 0 10px #e5e5ec;
    border-radius: 3px; 
    color: #e5e5ec;
    font-weight: bold;
}


.languageSelect {
    width: 90%;
    color: black;
    background-color: white;
}

.language {
    width: 300px;
}

.experienceLevel {
    margin-left: 20px;
}

.phone {
    width: 900px;
    color: black
}

.selecter{
    display:flex;
    background:none;
    width: 300px;
    margin-right: 1.5rem;
}

.background {
    color: white;
    background: transparent;
    padding: 0 5% 0 5%;
    height: 120vh;
    width: 70%;
}

i {
    color: red;
}

.hide-form {
    display: none;
}

.show-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    background: none;
    border: #e5e5ec;
    box-shadow: inset 0 0 10px #e5e5ec;
    border-radius: 3px; 
    color: #e5e5ec;
    font-weight: bold;  
}

.submit-button {
    margin-top: 3%;
    cursor: pointer;
}

.submit-button:hover {
    box-shadow: inset 0 0 10px #717175;
    color: #717175;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.form-pagination-button {
    padding: 15px;
    width: auto;
    margin-right: 5%;
    text-align: center;
    cursor: pointer;
}

.form-pagination-button:hover {
    box-shadow: inset 0 0 10px #717175;
    color: #717175;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a {
    color: yellow;
}

.questionRow {
    display: flex;
    flex-direction: column;
}

.questionBreak {
    padding-bottom: 70px;
}

input, select {
    width: 75%;
}

input {
    padding: 1.5%;
    width: 75%;
}

select {
    padding: 1%;
    width: 78%;
}

.field {
    flex: 1;
    padding-bottom: 70px;
    position:relative;
}

.questionPage {
    display: flex;
    flex-direction: column;
}

.section {
    padding-bottom: 30px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: auto;
}

.submitButton {
    width: 80px;
    padding: 5px;
    color: red;
}

.programmingSection {
    display: flex;
    flex-direction: column;
}

.addRemove {
    display: flex;
}

.add-remove-buttons {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.languageExp {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    justify-content: center;
}

.react-selecter {
    width: 78%;
    color: black;
    font-size: 15px;
}