.home {
    position: relative;
    width: 100%;
    height: auto;
}

.fullSVG {
    width: 100%;
    height: auto;
    padding-left: 0;
}
.button1 {
    width: 20%;
    height: auto;
    padding-left: 40%;
}
.sideNote {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1em;
}
.tracks-img {
    width: 33.33%;
    height: auto;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.mlh-banner {
    position: absolute;
    top: 0%;
    right: 2%;
    height: auto;
    width: 15%;
    max-width: 100px;
}