th{
    font: 1.5vw bold;
    font-family:  'Montserrat';
    color: #fff;
}
tr{
    font: 1.5vw bold;
    font-family:  'Montserrat';
    color: #fff;
    border: 1px solid white;
}
tdd {
    font: 1.0vw bold;
    font-family:  'Montserrat';
    color: #fff;
}
/*center the table cell to the center of the column*/
td {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font: 1.5vw bold;
    font-family:  'Montserrat';
    color: #fff;
    border: 1px solid white;
    padding: 10px;
}
table {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    padding-bottom: 250px;
}