.sponsor {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
}
.mlh-banner {
  position: absolute;
  top: 0%;
  right: 2%;
  height: auto;
  width: 15%;
  max-width: 100px;
}
.title-section {
  width: 100%;
  height: auto;
  padding-bottom: 40%;
}

.twilio-quote {
  position: absolute;
  top: 11.4%;
  left: 15%;
  width: 70%;
  height: auto;
}

.twilio-bubble {
  position: absolute;
  width: 55%;
  top: 13.1%;
  right: 0;
}

.who-are-we {
  position: relative;
  padding-left: 19%;
  padding-bottom: 22%;
  height: auto;
  width: 65%;
}
.who-are-we-gradient {
  position: absolute;
  height: auto;
  width: 40%;
  left: 0;
  top: 22.2%;
}

.why-us {
  height: auto;
  position: relative;
  padding-left: 15%;
  padding-bottom: 33%;
  width: 80%;
}
.why-us-bubble {
  position: absolute;
  width: 31%;
  height: auto;
  top: 28.6%;
  left: 0;
}

.chain {
  position: absolute;
  top: 41.2%;
  left: 0;
}
.why-us-gradient-1 {
  position: absolute;
  top: 25%;
  right: 0;
}
.why-us-gradient-2 {
  position: absolute;
  top: 30%;
  left: 0%;
}

.sponsor-opps {
  position: relative;
  padding-bottom: 35%;
  padding-left: 15%;
  width: 70%;
  height: auto;
}

.sponsor-opps-gradient-1 {
  position: absolute;
  width: 50%;
  height: auto;
  top: 48.5%;
  right: 0;
}
.sponsor-opps-gradient-2 {
  position: absolute;
  width: 35%;
  height: auto;
  top: 54.4%;
  left: 0;
}
.sponsor-opps-gradient-3 {
  position: absolute;
  width: 40%;
  height: auto;
  top: 61.5%;
  right: 0;
}

.statistics-section {
  position: relative;
  padding-bottom: 20%;
  padding-left: 15%;
  width: 70%;
  height: auto;
}

.statistics-bubble {
  position: absolute;
  width: 40%;
  height: auto;
  top: 61.5%;
  left: 0;
}

.statistics-gradient {
  position: absolute;
  width: 55%;
  height: auto;
  top: 66%;
  left: 0;
}

.review-section {
  position: relative;
  height: auto;
  width: 70%;
  padding-bottom: 15%;
  padding-left: 15%;
}

.review-bubble-1 {
  position: absolute;
  width: 35%;
  height: auto;
  top: 76.3%;
  right: 0;
}
.review-bubble-2 {
  position: absolute;
  width: 40%;
  height: auto;
  top: 83.5%;
  left: 0;
  z-index: 1;
}
.review-gradient {
  position: absolute;
  width: 60%;
  height: auto;
  top: 84.2%;
  left: 0;
  z-index: 0;
}

.chrome-bar {
  z-index: 1;
  height: auto;
  width: 70%;
  position: relative;
  padding-bottom: 9%;
  padding-left: 15%;
}
.sponsor-us-bubble {
  width: 50%;
  height: auto;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 93%;
}
.sponsor-us-gradient {
  width: 50%;
  height: auto;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 93.5%;
}
