svg {
  width: 100%;
}

.sponsor {
  position: relative;
  overflow-x: hidden;
  height: 16800px;
}
.title-section {
  position: relative;
}

.twilio-quote {
  position: relative;
  bottom: 500px;
}
.twilio-bubble {
  position: absolute;
  top: 1980px;
  right: 0px;
}

.who-are-we {
}

.why-us {
  position: relative;
  top: 380px;
  left: 30px;
}
.why-us-bubble {
  position: absolute;
  top: 4300px;
  left: 0px;
}
.chain {
  position: absolute;
  top: 5900px;
  left: 0px;
}

.sponsor-opps {
  position: relative;
  top: 1000px;
}

.statistics-section {
  position: relative;
  top: 1000px;
  left: 400px;
  width: 50%;
}

.review-section {
  position: relative;
  top: 1300px;
}

button {
  position: relative;
  top: 10px;
}
