.homepage {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
  }

#bubble1 {
    width: 866.56px;
    height: 577.12px;
}
/* Styles are not being applied???? can't find a way to center */
#whitesheet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}