.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  backdrop-filter: blur(95px);
  top: 0;
  position: fixed;
  z-index:1;
  width: 100%;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 5px;
  height: 29px;
  text-decoration: none;
}

@media (max-width: 425px) {
  .nav li a {
    font-size: 0.7em;
  }

  .nav li Button {
    font-size: 0.7em;
  }
}

.nav li a:hover {
  background-color: #304773;
}

.logo {
  float:left;
}

.button {
  float:right;
}

.navItem {
  float: right;
  font-family: 'Montserrat';
}
