.main-div {
  margin: 0px;
  background: #101010;
  height: 100vh;
  width: 100vw;
}

.mlh-banner {
  position: absolute;
  top: 0%;
  right: 2%;
  height: auto;
  width: 5%;
  max-width: auto;
}

.bhacks-logo {
  position: absolute;
  top: 2%;
  left: 2%;
  height: auto;
  width: 3%;
  max-width: auto;
}

.bhacks-text-container {
  width: 100%;
  padding-top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bhacks-text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.coming-soon-container {
  position: relative;
  top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-text {
  font-family: 'Poppins', sans-serif;
  font-size: 7vw;
  font-weight: 700;
  color: white;
}

.outer-buttons-container {
  position: relative;
  top: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttons-container a {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.2vw;
  text-decoration: none;
}

.buttons-container a:hover {
  color: lightgray;
  transition-duration: 0.3s;
}

.email-form {
  position: relative;
  top: 40%;
  width: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-label {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
  margin-bottom: 1%;
  font-size: 1.2vw;
}

.email-input {
  width: 12vw;
  padding: 7px;
  outline: 0;
  background-color: #101010;
  border-width: 0 0 1px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
}

.email-input:focus {
  border-color: white;
  transition-duration: 0.3s;
}

* {
  margin: 0;
}
