.main-div {
  margin: 0px;
  background: #101010;
  height: 100vh;
  width: 100vw;
}

.mlh-banner {
  position: absolute;
  top: 0%;
  right: 2%;
  height: auto;
  width: 5%;
  max-width: auto;
}

.bhacks-logo {
  position: absolute;
  top: 2%;
  left: 2%;
  height: auto;
  width: 3%;
  max-width: auto;
}

.bhacks-text-container {
  width: 100%;
  padding-top: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bhacks-text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.coming-soon-container {
  position: relative;
  top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-text {
  font-family: 'Poppins', sans-serif;
  font-size: 6vw;
  font-weight: 700;
  color: white;
}

.buttons-container {
  position: relative;
  top: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apply-button {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  margin-right: 10%;
}

.apply-button:hover {
  color: lightgray;
  transition-duration: 0.3s;
}

.mlh-code-of-conduct-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
}
.mlh-code-of-conduct {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
}

.mlh-code-of-conduct:hover {
  color: lightgray;
  transition-duration: 0.3s;
}

* {
  margin: 0;
}
